/*           Header/footer styles       */
@media (max-width: 1318px) {
  .dolls {
    margin-bottom: 20px;
  }
}
@media (max-width: 1090px) {
  .burger {
    display: block;
    margin-right: 40px;
  }
  .burger .active .hamburgerbar:nth-child(2) {
    opacity: 0;
  }
  .burger .active .hamburgerbar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger .active .hamburgerbar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .list {
    position: fixed;
    top: -500px;
    right: -200px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .listitem {
    margin: 16px 0;
  }
  .list.active {
    top: 100px;
    right: 0;
  }
}
@media (max-width: 690px) {
  .dolls,
  .jewellery {
    max-width: 600px;
    height: 600px;
  }
}
@media (max-width: 600px) {
  .dolls,
  .jewellery {
    max-width: 500px;
    height: 500px;
  }
}
@media (max-width: 510px) {
  .dolls,
  .jewellery {
    max-width: 400px;
    height: 400px;
  }
  .section2text {
    font-size: 60px;
  }
  .listitem {
    margin: 10px 0;
  }
  .container{
    margin: 30px 10px;
  }
  .aboutustext {
    font-size: 20px;
  }
  .section2 {
    margin-top: 80px;
  }
  .video {
    width: 200px;
    margin: 0 auto;
  }
  .olalu {
    font-size: 15px;
  }
  .news {
    margin: 5px;
  }
  .aboutus {
    margin: 5px;
  }
  .articletext,.aboutustext{
    line-height: 30px;
  }
}
@media (max-width: 410px) {
  .dolls,
  .jewellery {
    max-width: 300px;
    height: 300px;
  }
}
@media (max-width: 400px) {
  .container-item {
    height: 450px;
  }
  .dollimages {
    max-width: 280px;
  }
  .container-item{
    max-height: 400px;
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .container-item {
    height: 400px;
  }
}
@media (max-width: 330px) {
  .container-item {
    height: 380px;
  }
  .sectionreg{
    margin: 50px 0;
  }
  .dollimages {
    max-width: 210px;
  }
  .container-item{
    max-height: 330px;
    max-width: 230px;
  }

}
