/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*           Header/footer styles       */
@media (max-width: 1318px) {
  .dolls {
    margin-bottom: 20px;
  }
}
@media (max-width: 1090px) {
  .burger {
    display: block;
    margin-right: 40px;
  }
  .list {
    position: fixed;
    top: -500px;
    right: -200px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .listitem {
    margin: 16px 0;
  }
  .list.active {
    top: 130px;
    right: 0;
  }
}
@media (max-width: 690px) {
  .dolls,
  .jewellery {
    max-width: 600px;
    height: 600px;
  }
}
@media (max-width: 600px) {
  .dolls,
  .jewellery {
    max-width: 500px;
    height: 500px;
  }
}
@media (max-width: 510px) {
  .dolls,
  .jewellery {
    max-width: 400px;
    height: 400px;
  }
  .section2text {
    font-size: 60px;
  }
  .listitem {
    margin: 10px 0;
  }
  .container{
    margin: 60px 10px 0 10px;
  }
  .aboutustext {
    font-size: 20px;
  }
  .section2 {
    margin-top: 80px;
  }
  .video {
    width: 200px;
    margin: 0 auto;
  }
  .olalu {
    font-size: 15px;
  }
  .news {
    margin: 5px;
  }
  .aboutus {
    margin: 5px;
  }
  .articletext,.aboutustext{
    line-height: 30px;
  }
}
@media (max-width: 410px) {
  .dolls,
  .jewellery {
    max-width: 300px;
    height: 300px;
  }
  .section1{

  }
  .burger{
    margin:0 5px 0 0;
  }
  .logo {
    margin: 0 0 0 5px;
  }
}
@media (max-width: 400px) {
  .container-item {
    height: 450px;
  }
  .dollimages {
    max-width: 280px;
  }
  .container-item{
    max-height: 400px;
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .container-item {
    height: 400px;
  }
}
@media (max-width: 330px) {
  .container-item {
    height: 380px;
  }
  .sectionreg{
    margin: 90px 0;
  }
  .section2subclass{
    margin: 90px 20px;
  }
  
  .dollimages {
    max-width: 210px;
  }
  .container-item{
    max-height: 330px;
    max-width: 230px;
  }

}