.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 40px auto 0 auto;
}
.logo {
  max-width: 400px;
  width: 100%;
}
.logo:hover {
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}
.listitem:hover {
  cursor: pointer;
}
.listitem{
  display: inline-block;
  position: relative;
  color: black;
  line-height: 30px;
}
.listitem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.listitem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 40px auto;
  flex-wrap: wrap;
}
.dolls,
.jewellery {
  display: flex;
  width: 750px;
  height: 750px;
  background-image: url("../Images/dolls.jpeg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #4d004d;
}
.jewellery {
  background-image: url("../Images/jews.jpeg");
}
.dolls:hover,
.jewellery:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section2text {
  font-size: 150px;
  font-style: italic;
}
.section2text:hover {
  text-shadow: 10px 10px 20px white;
}
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 40px auto;
  flex-wrap: wrap;
}
.social-icons {
  display: flex;
  font-size: 30px;
  align-items: center;
}
.divider {
  width: 3px;
  height: 30px;
  background-color: black;
  margin: 10px;
}
.fa-facebook {
  color: #3477eb;
}
.fa-tiktok {
  text-shadow: 1px 1px 2px red;
}
.fa-instagram {
  background-image: conic-gradient(
    at 45% 35%,
    purple,
    pink,
    red,
    yellow,
    orange,
    purple
  );
  border-radius: 5px;
  color: white;
}
/* page dolls */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.dollimages{
  max-width÷: 600px;
  width: 100%;
}
.grid-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #EEEEEE;  
}
.grid-item-text {
  color:grey;
  font-style:italic;
  font-size: 20px;
  display: none;
 }

.grid-item:hover .grid-item-text{
  display: block;
}

