/*          Header/footer styles */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
.logo {
  max-width: 400px;
  width: 100%;
}
.logo:hover {
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}
.listitem:hover {
  cursor: pointer;
}
.listitem {
  display: inline-block;
  position: relative;
  color: black;
  line-height: 30px;
}
.listitem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f05207;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.listitem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.active:after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f05207;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 150px auto 150px auto;
  flex-wrap: wrap;
}
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  width: 100%;
  height: 100px;
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  left: 0;
}
.social-icons {
  display: flex;
  font-size: 30px;
  align-items: center;
  margin: 0 0 0 20px;
}
.divider {
  width: 3px;
  height: 30px;
  background-color: black;
  margin: 10px;
}
.fa-facebook {
  color: #3477eb;
}
.fa-tiktok {
  text-shadow: 1px 1px 2px red;
}
.fa-instagram {
  background-image: conic-gradient(
    at 45% 35%,
    purple,
    pink,
    red,
    yellow,
    orange,
    purple
  );
  border-radius: 5px;
  color: white;
}
.olalu{
  margin-right: 20px;
}

/*                      index page                     ---------*/

.dolls,
.jewellery {
  display: flex;
  width: 750px;
  height: 750px;
  background-image: url("../Images/dolls.jpeg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #4d004d;
}
.jewellery {
  background-image: url("../Images/jews.jpeg");
}
.dolls:hover,
.jewellery:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section2text {
  font-size: 150px;
  font-style: italic;
}
.section2text:hover {
  text-shadow: 10px 10px 20px white;
}

body {
  position: relative;
}

/*                    dolls/jewellery page        ---------*/
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto 100px auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: 370px;
  width: 100%;
  height: 450px;
}
.dollimages {
  max-width: 370px;
  max-height: 450px;
  width: 100%;
}
.container-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eeeeee;
}
.container-item-text {
  color: #f05207;
  font-size: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.container-item:hover .container-item-text {
  display: block;
}
.dollprice {
  margin: 10px 10px;
}
.box {
  max-width: 370px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}
/*                 Blog page                         */
.news {
  display: flex;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
  margin: 60px auto;
  justify-content: space-between;
}
.news:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newsleft {
  display: flex;
  max-width: 250px;
  width: 100%;
  margin: 35px auto;
}
.newsright {
  display: flex;
  max-width: 900px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  line-height: 40px;
  margin: 20px auto;
  justify-content: center;
}
.newsheader {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  flex-direction: column-reverse;
  color: #f05207;
  font-size: 40px;
}

.date {
  font-size: 20px;
  font-style: italic;
}
.newstext {
  margin: 40px 0;
  font-size: 20px;
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}
.articletext {
  padding: 10px 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
/*                 contact/About page                      */
.section2forms,.contactus,.contactuswrapper {
  display: flex;
  max-width: 1300px;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
.aboutus{
  display: flex;
  max-width: 1280px;
  margin: 20px auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
.aboutcontactusheader{
  display: flex;
  text-transform: uppercase;
  color: #f05207;
  font-size: 40px;
  margin: 20px auto;
}
.aboutustext{
  margin: 0 auto 20px auto;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
.map{
  max-width: 1280px;
  width: 100%;
}
.description{
  margin: 10px auto;
}
.description,
.desctext {
  max-width: 635px;
  width: 100%;
  height: 288px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
}
.desctext:focus {
  outline: none;
}

.form {
  display: flex;
  max-width: 635px;
  width: 100%;
  height: 288px;
  flex-direction: column;
  margin: 10px auto;
}
.form-wrapper {
  display: flex;
  max-width: 635px;
  width: 100%;
  height: 288px;
  justify-content: center;
  flex-direction: column;
}
.formitems {
  max-width: 635px;
  width: 100%;
  height: 60px;
  border: 2px;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
  outline: none;
  margin: 0 0 16px 0px;
  padding: 0 0 0 10px;
}
.formitems:nth-child(4) {
  background-color: #5863f8;
  margin: 0;
  color: white;
}
.formitems:fucus {
  outline: none;
}
